.header_buttons {
    display: grid;

    grid-template-areas: 'add status';

    grid-template-rows: auto;
    grid-template-columns: 4fr 4fr;
    grid-gap: 5px;
    grid-column-gap: 20px;
}

.add {
    grid-area: add;
    background-color: azure;
}

.status {
    grid-area: status;
    background-color: azure;
}